.appbar {
  top: auto;
  bottom: 0;
  height: 70px;
  padding-top: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.toolbar {
  padding: 0 !important;
}

.headerLight {
  color: #706969 !important;
  background-color: #eeeeee !important;
}

#navSessionInfo {
  position: absolute;
}

#navButtons {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 300px;
}

#icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

#navMicButton {
  margin-right: 2.5px;
}

#navCamButton {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

#navScreenButton, #navFlipButton {
  margin-right: 5px;
  margin-left: 2.5px;
}

#navChatButton {
  position: absolute;
}

#navLeaveButton {
  background-color: #fa282d;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

#titleContent {
  max-width: 100px;
  background-color: #36393d;
  margin: 5px -18px;
  padding: 0px 15px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: right;
  margin-top: 20px;
}

.titleContentLight {
  background-color: #dfdfdf !important;
  color: #000;
}

#header_img {
  max-width: 135px;
  margin-right: 10px;
  margin-top: 10px;
}

#session-title {
  font-family: 'Open Sans', sans-serif;
}

#point {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 12px;
  right: 33px;
  border-radius: 50%;
  background-color: #ffa600;
  border: 1px solid #000;
  z-index: 99999;
}

.pointLight {
  border: 1px solid #ffffff !important;
}

/* @media only screen and (max-width: 700px) {
  #titleContent, #navChatButton {
    display: none;
  }
} */